$purple : #5a3d55;
$blue   : #3ca59d;
$green  : #a2de96;
$orange : #e79c2a;

#books {
	height: 100vh;
	overflow-y: scroll;
	
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $blue;
		border-radius: 5px;
	}
		
	nav {
		background: $blue;
	}
	
	#bookList, #bookStats, #addBookForm {
		padding: 1rem 1.25rem;
		
		.card {
			.card-header {
				color: darken($orange, 5%);
				font-weight: bold;
			}
			.card-body {
				color: #777;
			}
		}
	}
	
	
	.btn-primary {
		background-color: $orange;
		border-color: $orange;
	}
	.btn-outline-danger {
		color: $purple;
		border-color: $purple;
	}
	.btn-outline-danger:hover {
		background-color: $purple;
		border-color: $purple;
		color: #ddd;
	}
	.deleteButton:hover {
		text-decoration: line-through;
	}
	
	.accordion {
		> .card > .card-header, .deleteGenres {
			border-top: 1px solid rgba(0,0,0,0.15);
		}
		.list-group-item {
			background-color: transparent;
		}
	}
	
	
	
	
	&.dark {
		background: $purple;
		&::-webkit-scrollbar-track {
			background-color: $purple;
		}
		#bookList {
			background: lighten($purple, 5%);
		}
		#bookStats, #addBookForm, .accordion>.card>.card-header {
			background: darken($purple, 5%);
			color: #ddd;
		}
		.accordion > .card {
			color: #ddd;
			background: lighten($purple, 5%);
			border-color: darken($purple, 5%);
			
			.btn-outline-danger {
				color: darken($purple, 25%);
				border-color: darken($purple, 15%);
			}
			.btn-outline-danger:hover {
				background-color: darken($purple, 5%);
				border-color: darken($purple, 5%);
				color: #ddd;
			}
		}
	}
	
	&.light {
		background: $green;
		&::-webkit-scrollbar-track {
			background-color: $green;
		}
		#bookList {
			background: lighten($green, 5%);
		}
		#bookStats, #addBookForm, .accordion>.card>.card-header {
			background: darken($green, 5%);
		}
		.accordion > .card {
			background: lighten($green, 5%);
			border-color: darken($green, 5%);
		}
	}
}

