:root {
	--orange: #F2A154;
	--cream: #F7F6E7;
	--grey: #C7C6C1;
	--green: #314E52;

	--bg-light: #FFF6F0;
	--bg-shadow: 0 1px 5px var(--grey);
	--bg-text: #718E92;
}
#keeper {
	
	body {
		margin: 0;
		font-family: "Finlandica", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
			'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
			sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: var(--bg-text);
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	}

	header {
		background: var(--orange);
		height: 4em;
	}
	.navbar {
		background: var(--orange);
	}
	footer {
		color: var(--grey);
		background: var(--bg-light);
	}
	.notes {
		min-height: 100vh;
		background: var(--bg-light);
	}

	h1.navbar-brand {
		font-size: 2em;
	}

	.note {
		border: 0;
		box-shadow: var(--bg-shadow);
	}

	.note .card-body {
		color: var(--bg-text);
	}
	.note .card-title {
		color: var(--green);
	}


	.note button {
		position: relative;
		float: right;
		margin-right: 10px;
		color: var(--orange);
		border: none;
		cursor: pointer;
		outline: none;
		background: transparent;
	}
	
	.note input,
	.note textarea,
	.addArea input,
	.addArea textarea {
		width: 100%;
		border: none;
		padding: 4px;
		outline: none;
		font-size: 1.2em;
		font-family: inherit;
		resize: none;
		color: var(--bg-text);
	}
		

	.addArea {
		position: relative;
		width: 480px;
		margin: 10px auto 40px auto;
		padding: 15px;
		background: #fff;
		border-radius: 7px;
		box-shadow: var(--bg-shadow);
	}
	
	.addArea button {
		position: absolute;
		right: 18px;
		bottom: -18px;
		background: var(--orange);
		color: #fff;
		border: none;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		outline: none;
	}

}
